@keyframes animation_bank {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes translateX {
  0% {
    transform: translateX(-500px);
    -webkit-transform: translateX(-500px);
    -moz-transform: translateX(-500px);
    -ms-transform: translateX(-500px);
    -o-transform: translateX(-500px);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

.bounce {
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation: bounce 3.6s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  5.55556% {
    transform: translateY(0);
  }
  11.11111% {
    transform: translateY(0);
  }
  22.22222% {
    transform: translateY(-15px);
  }
  27.77778% {
    transform: translateY(0);
  }
  33.33333% {
    transform: translateY(-15px);
  }
  44.44444% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.datos_bancarios {
  animation: translateX, animation_bank 2s;
  -webkit-animation: translateX, animation_bank 2s;
}

.nosotros__imagenes1:hover,
.nosotros__imagenes2:hover,
.nosotros__imagenes3:hover,
.nosotros__imagenes4:hover,
.nosotros__imagenes5:hover,
.nosotros__imagenes6:hover {
  max-width: 90%;
  transition: all 2.3s;
  -webkit-transition: all 2.3s;
  -moz-transition: all 2.3s;
  -ms-transition: all 2.3s;
  -o-transition: all 2.3s;
}
